* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ebf1f1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f0f0f0;
  padding: 10px;
}

.start-btn button {
  cursor: pointer;
  font-size: 24px;
  padding: 15px 30px;
  background-color: green;
  margin-bottom: 20px;
}
.start-btn button:hover {
  background-color: darkgreen;
}

.hs-btn button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
  background-color: green;
}

.hs-btn button:hover {
  background-color: darkgreen;
}

.hide {
  display: none;
}

#quiz-end {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.info {
  font-size: x-large;
}
